<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Man-API-Dev</title>
<META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
<META HTTP-EQUIV="expires" CONTENT="0">
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='man_api_img/man_ioc_2.png') }}">
	<script src="{{ url_for('static', filename='js/jquery-2.1.1/jquery.min.js') }}" rel="stylesheet"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.js') }}" rel="stylesheet"></script>
	<script src="{{ url_for('static', filename='js/api.js') }}" rel="stylesheet"></script>
	<script src="{{ url_for('static', filename='js/jquery.cookie.js') }}" rel="stylesheet"></script>
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style-responsive.css') }}" rel="stylesheet">
	<!--扩展样式-->
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

	<link href="{{ url_for('static', filename='css/jquery-ui-1.10.3.css') }}" rel="stylesheet">
	
	<!-- 文件结构目录样式 & Js -->
	<link href="{{ url_for('static', filename='fuelux/css/tree.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='fuelux/css/tree-style.css') }}" rel="stylesheet">
	<!--
	<script src="{{ url_for('static', filename='fuelux/js/spinner.js') }}" rel="stylesheet"></script>
	<script src="{{ url_for('static', filename='fuelux/js/tree.js') }}" rel="stylesheet"></script>-->

	<!-- 图表js -->
	<script src="{{ url_for('static', filename='js/echarts.js') }}" rel="stylesheet"></script>



	<style type="text/css">
		.tb_width{
			width: 180px;
			height: 20px;
		}
		.project_tr_h{
			height: 50px;
		}
	</style>
</head>
