<!-- 代码素材 -->

<div class="highlight">
<pre><code class="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-success"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-info"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-warning"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-danger"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
</code>
</pre>
</div>



<button class="btn btn-success btn-lg btn-block" type="button">Block level button</button>

<button class="btn btn-default" data-toggle="button">
                                            <i class="fa fa-book"></i>
                                        </button>


<button class="btn btn-primary" type="button"><i class="fa fa-cloud"></i> Cloud</button>

<br>
<br>
<div class="span6">
<div class="well">
                                <address>
                                    <strong>ThemeBucket</strong><br>
                                    ABC Ave, Suite 14<br>
                                    BucketLand, Australia <br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890 </address>
                                <address>
                                    <strong>Full Name</strong><br>
                                    <a href="mailto:#">
                                        first.last@email.com
                                    </a>
                                    <br>
                                    <br>
                                    <strong>Web Address</strong><br>
                                    <a href="http://themebucket.net">
                                        themebucket.net
                                    </a>
                                </address>
                            </div>
                           </div>




</div>

<div class="span6">
<div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>



<div class="panel panel-info">
    <div class="panel-heading">
        Tree Style #2
         <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
            <!--<a class="fa fa-times" href="javascript:;"></a>-->
         </span>
    </div>

    <div class="panel-body">
        <div id="FlatTree2" class="tree">
            <div class="tree-folder" style="display:none;">
                <div class="tree-folder-header">
                    <i class="fa fa-folder"></i>
                    <div class="tree-folder-name"></div>
                </div>
                <div class="tree-folder-content"></div>
                    <div class="tree-loader" style="display: none;"></div>
                </div>
                <div class="tree-item" style="display:none;">
                    <i class="tree-dot"></i>
                <div class="tree-item-name"></div>
                </div>
                    <div class="tree-folder" style="display: block;">
                        <div class="tree-folder-header">
                            <i class="fa fa-folder"></i>
                            <div class="tree-folder-name">第一级 1 <div class="tree-actions"></div></div>
                        </div>
                        	<!-- 第二级 -->
                            <div class="tree-folder-content" style="display: block;">
                                <div class="tree-folder" style="display: block;">
	                                <div class="tree-folder-header">
	                                        <i class="fa fa-folder"></i>
	                                        <div class="tree-folder-name">第二级 1<div class="tree-actions"><i class="fa fa-plus"></i><i class="fa fa-trash-o"></i><i class="fa fa-refresh"></i></div></div>
	                                        
	                                </div>
	                                <div class="tree-folder-content"></div>
	                                <div class="tree-loader" style="display: block;"><img src="static/img/input-spinner.gif"></div>
                                </div>
                                <div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <i class="fa fa-file-code-o"></i>
                                        <div class="tree-folder-name">第二级文件.py <div class="tree-actions"></div></div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: block;"><img src="static/img/input-spinner.gif"></div>
                                </div>
                                <div class="tree-item" style="display: block;">
                                    <i class="tree-dot"></i>
                                    <div class="tree-item-name"><i class="fa fa-bell-o"></i> Notification</div>
                                </div>
                                <div class="tree-item" style="display: block;">
                                    <i class="tree-dot"></i>
                                    <div class="tree-item-name"><i class="fa fa-bar-chart-o"></i> Assignment</div>
                                </div>
                            </div>
                                    <div class="tree-loader" style="display: none;"><img src="images/input-spinner.gif"></div>
                	</div><div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <i class="fa fa-folder"></i>
                                        <div class="tree-folder-name">Test tree 2 <div class="tree-actions"></div></div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: none;"><img src="images/input-spinner.gif"></div>
                                </div><div class="tree-item" style="display: block;">
                                    <i class="tree-dot"></i>
                                    <div class="tree-item-name"><i class="fa fa-bell-o"></i> Notification</div>
                                </div><div class="tree-item" style="display: block;">
                                    <i class="tree-dot"></i>
                                    <div class="tree-item-name"><i class="fa fa-bar-chart-o"></i> Assignment</div>
                                </div></div>

        </div>
</div>






<div class="span6">
<div class="panel">
<div class="panel-heading">
    Tree Style #4
    <span class="tools pull-right">
        <a class="fa fa-chevron-down" href="javascript:;"></a>
        <a class="fa fa-times" href="javascript:;"></a>
    </span>
    </div>
    <div class="panel-body">
        <div id="FlatTree4" class="tree tree-solid-line">
            <div class="tree-folder" style="display:block;">
                                    <div class="tree-folder-header">
                                        <i class="fa fa-folder"></i>
                                        <div class="tree-folder-name"></div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: block;"></div>
            </div>
                                <div class="tree-item" style="display:block;">
                                    <i class="tree-dot"></i>
                                    <div class="tree-item-name"></div>
                                </div>
                            <div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <i class="fa fa-folder"></i>
                                        <div class="tree-folder-name">Dashboard<div class="tree-actions"><i class="fa fa-plus"></i><i class="fa fa-trash-o"></i><i class="fa fa-refresh"></i></div></div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: block;"><img src="static/img/input-spinner.gif"></div>
                                </div><div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <i class="fa fa-folder"></i>
                                        <div class="tree-folder-name">View Category<div class="tree-actions"><i class="fa fa-plus"></i><i class="fa fa-trash-o"></i><i class="fa fa-refresh"></i></div></div>
                                    </div>
                                    <div class="tree-folder-content" style="display: block;"><div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <i class="fa fa-folder"></i>
                                        <div class="tree-folder-name">Dashboard<div class="tree-actions"><i class="fa fa-plus"></i><i class="fa fa-trash-o"></i><i class="fa fa-refresh"></i></div></div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: block;"><img src="images/input-spinner.gif"></div>
                                </div><div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <i class="fa fa-folder"></i>
                                        <div class="tree-folder-name">View Category<div class="tree-actions"><i class="fa fa-plus"></i><i class="fa fa-trash-o"></i><i class="fa fa-refresh"></i></div></div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: block;"><img src="images/input-spinner.gif"></div>
                                </div><div class="tree-item" style="display: block;">
                                    <i class="tree-dot"></i>
                                    <div class="tree-item-name"><i class="fa fa-user"></i> User <div class="tree-actions"><i class="fa fa-plus"></i><i class="fa fa-trash-o"></i><i class="fa fa-refresh"></i></div><div class="tree-actions"><i class="fa fa-plus"></i><i class="fa fa-trash-o"></i><i class="fa fa-refresh"></i></div></div>
                                </div><div class="tree-item" style="display: block;">
                                    <i class="tree-dot"></i>
                                    <div class="tree-item-name"><i class="fa fa-calendar"></i> Events <div class="tree-actions"><i class="fa fa-plus"></i><i class="fa fa-trash-o"></i><i class="fa fa-refresh"></i></div></div>
                                </div><div class="tree-item" style="display: block;">
                                    <i class="tree-dot"></i>
                                    <div class="tree-item-name"><i class="fa  fa-gear "></i> Works <div class="tree-actions"><i class="fa fa-plus"></i><i class="fa fa-trash-o"></i><i class="fa fa-refresh"></i></div></div>
                                </div></div>
                                    <div class="tree-loader" style="display: none;"><img src="images/input-spinner.gif"></div>
                                </div><div class="tree-item" style="display: block;">
                                    <i class="tree-dot"></i>
                                    <div class="tree-item-name"><i class="fa fa-user"></i> User <div class="tree-actions"><i class="fa fa-plus"></i><i class="fa fa-trash-o"></i><i class="fa fa-refresh"></i></div><div class="tree-actions"><i class="fa fa-plus"></i><i class="fa fa-trash-o"></i><i class="fa fa-refresh"></i></div></div>
                                </div><div class="tree-item" style="display: block;">
                                    <i class="tree-dot"></i>
                                    <div class="tree-item-name"><i class="fa fa-calendar"></i> Events <div class="tree-actions"><i class="fa fa-plus"></i><i class="fa fa-trash-o"></i><i class="fa fa-refresh"></i></div></div>
                                </div><div class="tree-item" style="display: block;">
                                    <i class="tree-dot"></i>
                                    <div class="tree-item-name"><i class="fa  fa-gear "></i> Works <div class="tree-actions"><i class="fa fa-plus"></i><i class="fa fa-trash-o"></i><i class="fa fa-refresh"></i></div></div>
                                </div></div>
                        </div>
                    </div>

</div>






